In [1]:
import numpy as np
import pandas as pd

In [5]:
#task 2 create series
two_ser = pd.Series([2,3,5,7,11,13])
two_ser

0     2
1     3
2     5
3     7
4    11
5    13
dtype: int64

In [11]:
two_df = pd.DataFrame(
    {'prime': [2,3,5,7,11,13],
     'composite': ['4', '6', '8', '9', '10', '12']})
print(two_df)

   prime composite
0      2         4
1      3         6
2      5         8
3      7         9
4     11        10
5     13        12

In [12]:
dates = pd.date_range('20200301', periods=6)
dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=('A1','A2', 'B1', 'C1'))
df

                  A1        A2        B1        C1
2020-03-01  0.076146 -0.361045  0.471159 -0.962305
2020-03-02 -0.018203  1.741547 -0.060428 -1.000927
2020-03-03 -0.549659  0.359616  1.015058 -0.814049
2020-03-04 -0.154751  0.784920  0.831719  2.072386
2020-03-05 -0.102391  1.108221  0.839279  0.481357
2020-03-06  0.104328 -0.737461  0.191650  0.465519

In [ ]:
two_dis = pd.DataFrame(np.random.normal(10,5)) + .85
print(two_dis)