In [2]:
import pandas as pd
import numpy as np

In [19]:
df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']})

In [20]:
iris_df = pd.read_csv('iris.csv')
print(df)
print(iris_df.head())

   alpha beta
0      0    a
1      1    b
2      2    c
3      3    d
4      4    e
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [21]:
df_copy = df
df_copy['delta'] = np.array([2, 3, 5, 7, 11])
df_copy

   alpha beta  delta
0      0    a      2
1      1    b      3
2      2    c      5
3      3    d      7
4      4    e     11

In [22]:
df_b = df
df_c = df
df_b['delta'] = np.array([2, 3, np.nan, 7, 11])
df_c['delta'] = np.array([2, np.nan, 5, np.nan, 11])

In [23]:
df_b = df_b.dropna()
df_c = df_c.fillna(1)
print(df_b)
print(df_c)

   alpha beta  delta
0      0    a    2.0
2      2    c    5.0
4      4    e   11.0
   alpha beta  delta
0      0    a    2.0
1      1    b    1.0
2      2    c    5.0
3      3    d    1.0
4      4    e   11.0

In [40]:
print('***mean')
print(iris_df.mean())
print('***stddev')
print(iris_df.std())
print('***var')
print(iris_df.var())
print('***median')
print(iris_df.median())
print('***max')
print(iris_df.max())

***mean
sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64
***stddev
sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64
***var
sepal_length    0.685694
sepal_width     0.188004
petal_length    3.113179
petal_width     0.582414
dtype: float64
***median
sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64
***max
sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [41]:
help(df.apply)

Help on method apply in module pandas.core.frame:

apply(func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds) method of pandas.core.frame.DataFrame instance
    Apply a function along an axis of the DataFrame.

    Objects passed to the function are Series objects whose index is
    either the DataFrame's index (``axis=0``) or the DataFrame's columns
    (``axis=1``). By default (``result_type=None``), the final return type
    is inferred from the return type of the applied function. Otherwise,
    it depends on the `result_type` argument.

    Parameters
    ----------
    func : function
        Function to apply to each column or row.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis along which the function is applied:

        * 0 or 'index': apply function to each column.
        * 1 or 'columns': apply function to each row.
    broadcast : bool, optional
        Only relevant for aggregation functions:

        * ``False`` or ``None`` : returns a Series whose length is the
          length of the index or the number of columns (based on the
          `axis` parameter)
        * ``True`` : results will be broadcast to the original shape
          of the frame, the original index and columns will be retained.

        .. deprecated:: 0.23.0
           This argument will be removed in a future version, replaced
           by result_type='broadcast'.

    raw : bool, default False
        * ``False`` : passes each row or column as a Series to the
          function.
        * ``True`` : the passed function will receive ndarray objects
          instead.
          If you are just applying a NumPy reduction function this will
          achieve much better performance.
    reduce : bool or None, default None
        Try to apply reduction procedures. If the DataFrame is empty,
        `apply` will use `reduce` to determine whether the result
        should be a Series or a DataFrame. If ``reduce=None`` (the
        default), `apply`'s return value will be guessed by calling
        `func` on an empty Series
        (note: while guessing, exceptions raised by `func` will be
        ignored).
        If ``reduce=True`` a Series will always be returned, and if
        ``reduce=False`` a DataFrame will always be returned.

        .. deprecated:: 0.23.0
           This argument will be removed in a future version, replaced
           by ``result_type='reduce'``.

    result_type : {'expand', 'reduce', 'broadcast', None}, default None
        These only act when ``axis=1`` (columns):

        * 'expand' : list-like results will be turned into columns.
        * 'reduce' : returns a Series if possible rather than expanding
          list-like results. This is the opposite of 'expand'.
        * 'broadcast' : results will be broadcast to the original shape
          of the DataFrame, the original index and columns will be
          retained.

        The default behaviour (None) depends on the return value of the
        applied function: list-like results will be returned as a Series
        of those. However if the apply function returns a Series these
        are expanded to columns.

        .. versionadded:: 0.23.0

    args : tuple
        Positional arguments to pass to `func` in addition to the
        array/series.
    **kwds
        Additional keyword arguments to pass as keywords arguments to
        `func`.

    Returns
    -------
    Series or DataFrame
        Result of applying ``func`` along the given axis of the
        DataFrame.

    See Also
    --------
    DataFrame.applymap: For elementwise operations.
    DataFrame.aggregate: Only perform aggregating type operations.
    DataFrame.transform: Only perform transforming type operations.

    Notes
    -----
    In the current implementation apply calls `func` twice on the
    first column/row to decide whether it can take a fast or slow
    code path. This can lead to unexpected behavior if `func` has
    side-effects, as they will take effect twice for the first
    column/row.

    Examples
    --------

    >>> df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
    >>> df
       A  B
    0  4  9
    1  4  9
    2  4  9

    Using a numpy universal function (in this case the same as
    ``np.sqrt(df)``):

    >>> df.apply(np.sqrt)
         A    B
    0  2.0  3.0
    1  2.0  3.0
    2  2.0  3.0

    Using a reducing function on either axis

    >>> df.apply(np.sum, axis=0)
    A    12
    B    27
    dtype: int64

    >>> df.apply(np.sum, axis=1)
    0    13
    1    13
    2    13
    dtype: int64

    Returning a list-like will result in a Series

    >>> df.apply(lambda x: [1, 2], axis=1)
    0    [1, 2]
    1    [1, 2]
    2    [1, 2]
    dtype: object

    Passing result_type='expand' will expand list-like results
    to columns of a Dataframe

    >>> df.apply(lambda x: [1, 2], axis=1, result_type='expand')
       0  1
    0  1  2
    1  1  2
    2  1  2

    Returning a Series inside the function is similar to passing
    ``result_type='expand'``. The resulting column names
    will be the Series index.

    >>> df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)
       foo  bar
    0    1    2
    1    1    2
    2    1    2

    Passing ``result_type='broadcast'`` will ensure the same shape
    result, whether list-like or scalar is returned by the function,
    and broadcast it along the axis. The resulting column names will
    be the originals.

    >>> df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')
       A  B
    0  1  2
    1  1  2
    2  1  2

In [64]:
print(iris_df['sepal_length'].apply(np.sqrt).head())
print(iris_df['petal_width'].apply(np.sqrt).head())

0    2.258318
1    2.213594
2    2.167948
3    2.144761
4    2.236068
Name: sepal_length, dtype: float64
0    0.447214
1    0.447214
2    0.447214
3    0.447214
4    0.447214
Name: petal_width, dtype: float64

In [3]:
data = [['MX17004',2010,1,'tmax',None,None,None,None,None,None,None,None],
        ['MX17004',2010,1,'tmin',None,None,None,None,None,None,None,None],
        ['MX17004',2010,2,'tmax',None,27.3,24.1,None,None,None,None,None],
        ['MX17004',2010,2,'tmin',None,14.4,14.4,None,None,None,None,None],
        ['MX17004',2010,3,'tmax',None,None,None,None,32.1,None,None,None],
        ['MX17004',2010,3,'tmin',None,None,None,None,14.2,None,None,None],
        ['MX17004',2010,4,'tmax',None,None,None,None,None,None,None,None],
        ['MX17004',2010,4,'tmin',None,None,None,None,None,None,None,None],
        ['MX17004',2010,5,'tmax',None,None,None,None,None,None,None,None],
        ['MX17004',2010,5,'tmin',None,None,None,None,None,None,None,None]]
headers = ['id','year','month','element','d1','d2','d3','d4','d5','d6','d7','d8']
weather = pd.DataFrame(data, columns=headers)
weather

,id,year,month,element,d1,d2,d3,d4,d5,d6,d7,d8
0,MX17004,2010,1,tmax,None,NaN,NaN,None,NaN,None,None,None
1,MX17004,2010,1,tmin,None,NaN,NaN,None,NaN,None,None,None
2,MX17004,2010,2,tmax,None,27.3,24.1,None,NaN,None,None,None
3,MX17004,2010,2,tmin,None,14.4,14.4,None,NaN,None,None,None
4,MX17004,2010,3,tmax,None,NaN,NaN,None,32.1,None,None,None
5,MX17004,2010,3,tmin,None,NaN,NaN,None,14.2,None,None,None
6,MX17004,2010,4,tmax,None,NaN,NaN,None,NaN,None,None,None
7,MX17004,2010,4,tmin,None,NaN,NaN,None,NaN,None,None,None
8,MX17004,2010,5,tmax,None,NaN,NaN,None,NaN,None,None,None
9,MX17004,2010,5,tmin,None,NaN,NaN,None,NaN,None,None,None

In [8]:
melted_weather = pd.melt(weather, id_vars=['id', 'year', 'month', 'element'],
        var_name='temp_day', value_name='temperature')
melted_weather.head(20)

         id  year  month element temp_day temperature
0   MX17004  2010      1    tmax       d1        None
1   MX17004  2010      1    tmin       d1        None
2   MX17004  2010      2    tmax       d1        None
3   MX17004  2010      2    tmin       d1        None
4   MX17004  2010      3    tmax       d1        None
5   MX17004  2010      3    tmin       d1        None
6   MX17004  2010      4    tmax       d1        None
7   MX17004  2010      4    tmin       d1        None
8   MX17004  2010      5    tmax       d1        None
9   MX17004  2010      5    tmin       d1        None
10  MX17004  2010      1    tmax       d2         NaN
11  MX17004  2010      1    tmin       d2         NaN
12  MX17004  2010      2    tmax       d2        27.3
13  MX17004  2010      2    tmin       d2        14.4
14  MX17004  2010      3    tmax       d2         NaN
15  MX17004  2010      3    tmin       d2         NaN
16  MX17004  2010      4    tmax       d2         NaN
17  MX17004  2010      4    tmin       d2         NaN
18  MX17004  2010      5    tmax       d2         NaN
19  MX17004  2010      5    tmin       d2         NaN

In [5]:
melted_weather["day"] = melted_weather["temp_day"].str.extract("d(\d+)", expand=False)  
melted_weather.head(10)

        id  year  month element temp_day temperature day
0  MX17004  2010      1    tmax       d1        None   1
1  MX17004  2010      1    tmin       d1        None   1
2  MX17004  2010      2    tmax       d1        None   1
3  MX17004  2010      2    tmin       d1        None   1
4  MX17004  2010      3    tmax       d1        None   1
5  MX17004  2010      3    tmin       d1        None   1
6  MX17004  2010      4    tmax       d1        None   1
7  MX17004  2010      4    tmin       d1        None   1
8  MX17004  2010      5    tmax       d1        None   1
9  MX17004  2010      5    tmin       d1        None   1